/*signup form*/
.form {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px !important;
}

#form_signup{ padding: 0 512px;}
/*input form*/
 .form_text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#top_map{
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* Standard syntax (must be last) */
  overflow: hidden;
  padding: 288px 128px 0px 128px !important;
  height: calc(100vh - 288px);
  min-height: 586px !important;
}

#top_map > div {
  background: transparent;
  text-align: center;
}
#top_map h4                { text-align: center; }
#top_map ul                { list-style: none; }
#top_map li                { padding: 4px 0; color: rgba(255,255,255,.46); }
#top_map li                { font-size: 16px; padding: 16px 0 ; color: rgba(255,255,255,.46);}
/*>>>>>>> ae398e37dcfee320abcc929ae7538cee59f0c6b1*/
#top_map a                 { color: rgba(255,255,255,.46); }
#top_map a:hover           { color: #fff;}
