/* 1 - GLOBAL RESETS */


  /* 1.1 - Normalize box model -- DO NOT DELETE... or IE will break - 1.1 */
    html														{ box-sizing: content-box; }
    *, *:before, *:after						{ box-sizing: inherit; }


  /* 1.2 - Remove margin, border, and padding from all - 1.2 */
    html, body, div,
		header, footer, menu, nav, section, figure, figcaption, article, aside, blockquote,
		span, iframe, h1, h2, h3, h4, h5, h6, div, p, a, img, ol, ul, li,
		table, tbody, tfoot, thead, tr, th, td, form, input, fieldset, button {
																			margin: 0;
																			padding: 0;
																			border: 0;
																			background: transparent;
																		}


  /* 1.3 - Eliminate default input button styles imposed by browsers like safari - 1.3 */
    input, button										{
																			-webkit-appearance: none;
																			-moz-appearance: none;
																			appearance: none;
																			border-radius: 0px;
																			height: 36px;
																		}


  /* 1.4 - Reset cursor to default - 1.4 */
		table, i,
		.btn-sml, .btn-lrg,
    #nav-primary ul,
		#nav-primary ul a,
		#nav-social, #nav-social a			{ cursor: default; }


  /* 1.5 - Reset Lists and Tables - 1.5 */
		table														{ display: table; }
		tr															{ display: table-row; }
		td, th													{ display: table-cell; }
		table														{
																			border-collapse: collapse;
																			border-spacing: 0;
																		}


  /* 1.6 - Set basic background colors - 1.6 */

		/* 1.6.1 - Solid Backgrounds - 1.6.1 */
			body													{ background: #000; } /* black */
			main, section, figure,
			figcaption, div								{ background: #fbfdfe; /*#fefefe;*/ } /* off-white */
			footer												{ background: #091413; } /* off-black */
			footer div,
			#map *												{ background: transparent; } /* transparent */
			.bg-light.gray								{ background: #e0e0e0; } /* light medium gray */
			.bg-light.orange							{ background: #ff8a65; } /* medium orange */
			.bg-light.teal								{ background: #4db6ac; } /* medium teal */
			.bg-dark.gray									{ background: #424242; } /* dark gray */
			.bg-dark.orange								{ background: #ce3e11; } /* medium orange */
			.bg-dark.teal, header					{ background: #00796b; } /*darker teal, currently only used in header when bg gradients not supported */
			#menu > li > a:before,
			#menu ul li:hover a						{ background: #fff; }
			.field-wrapper input					{ background: rgba(255,255,255,.86); }
			#menu ul li										{ background: rgba(255,255,255,.94); }
			#nav-primary									{ background: rgba(0,0,0,.94); }
			.content__button input				{ background: #444 !important; }
			.content__button input:hover	{ background: #555 !important; }


		/* 1.6.2 - Tiled Backgrounds - 1.6.2 */
			.bg-dark.gray.tile						{
																			background: -webkit-linear-gradient(to bottom, rgba(49,50,57,0.95), rgba(144,144,144,0.85)), url("../images/bg-tile.jpg") top; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(49,50,57,0.95), rgba(144,144,144,0.85)), url("../images/bg-tile.jpg") top; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(49,50,57,0.95), rgba(144,144,144,0.85)), url("../images/bg-tile.jpg") top; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(49,50,57,0.95), rgba(144,144,144,0.85)), url("../images/bg-tile.jpg") top; /* Standard syntax (must be last) */
																		}
			.bg-dark.orange.tile					{
																			background: -webkit-linear-gradient(to bottom, rgba(64,38,54,.95), rgba(255,110,66,0.85)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(64,38,54,.95), rgba(255,110,66,0.85)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(64,38,54,.95), rgba(255,110,66,0.85)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(64,38,54,.95), rgba(255,110,66,0.85)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}
			.bg-dark.teal.tile						{
																			background: -webkit-linear-gradient(to bottom, rgba(20,63,72,.95), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(20,63,72,.95), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(20,63,72,.95), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(20,63,72,.95), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}
			.bg-light.gray.tile						{
																			background: -webkit-linear-gradient(to bottom, rgba(240,243,246,0.95), rgba(185,185,185,.85)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(240,243,246,0.95), rgba(185,185,185,.85)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(240,243,246,0.95), rgba(185,185,185,.85)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(240,243,246,0.95), rgba(185,185,185,.85)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}
			.bg-light.orange.tile					{
																			background: -webkit-linear-gradient(to bottom, rgba(255,165,184,0.95), rgba(255,143,86,.85)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(255,165,184,0.95), rgba(255,143,86,.85)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(255,165,184,0.95), rgba(255,143,86,.85)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(255,165,184,0.95), rgba(255,143,86,.85)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}
			.bg-light.teal.tile						{
																			background: -webkit-linear-gradient(to bottom, rgba(129,255,220,.9), rgba(16,214,185,0.9)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(129,255,220,.9), rgba(16,214,185,0.9)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(129,255,220,.9), rgba(16,214,185,0.9)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(129,255,220,.9), rgba(16,214,185,0.9)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}
			header												{
																			background: -webkit-linear-gradient(to bottom, rgba(0,0,0,1), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Safari 5.1 to 6.0 */
																			background:      -o-linear-gradient(to bottom, rgba(0,0,0,1), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Opera 11.1 to 12.0 */
																			background:    -moz-linear-gradient(to bottom, rgba(0,0,0,1), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* For Firefox 3.6 to 15 */
																			background:         linear-gradient(to bottom, rgba(0,0,0,1), rgba(46,179,167,0.85)), url("../images/bg-tile.jpg") center; /* Standard syntax (must be last) */
																		}



/* 2 - TEXT STYLING - 2 */


  /* 2.1 - Font Selection - 2.1 */
    body														{ font-family: 'Roboto', Arial, sans-serif; }
		blockquote::before,
		blockquote::after								{ font-family: Arial, sans-serif; }


  /* 2.2 - Font Smoothing - 2.2 */
    p																{
																			text-rendering: optimizeLegibility !important;
																			-webkit-font-smoothing: antialiased !important;
																			-moz-osx-font-smoothing: grayscale !important;
																		}


  /* 2.3 - Text Decoration and Font Style - 2.3 */
		a																{ text-decoration: none; } /*remove underlines from hyperlinks */
		strong, em											{ font-style: normal; } /* removes italics from emphasized text within a paragraph */


  /* 2.4 - Text Alignment - 2.4 */
    div, section, figure, figcaption,
		blockquote, ul, p, img,
		h1, h2, h3, h4, h5, h6					{ text-align: center; }
		ul															{ text-align: left; }
		#nav-primary ul									{ text-align: center; }
		footer h4, ul										{ text-align: left; }

  /* 2.5 - Font Size - 2.5 */
    h1															{ font-size: 72px; }
    h2															{ font-size: 58px; }
		h4															{ font-size: 24px; }
		p																{ font-size: 18px; }
		blockquote::before,
		blockquote::after								{ font-size: 256px; }
    #calltoaction h3								{ font-size: 48px; }
    #nav-primary i, #social a, h3,
		#brands p												{ font-size: 32px; }
    header p												{ font-size: 30px; }
    .col-1 p, #next_feature,
		blockquote p										{ font-size: 24px; }
    #calltoaction p, .btn-lrg				{ font-size: 20px; }
		blockquote span									{ font-size: 18px; }
    #menu > li > a,
    #footer_links li,
    #footer_links label,
    #footer_links input             { font-size: 16px; }
    #menu ul li a										{ font-size: 14px; }
    #copyright, .btn-sml            { font-size: 12px; }


  /* 2.6 - Font Weight - 2.6 */
    *                               { font-weight: 300; } /* Establishes a baseline font-weight for all items which overrides the browsers defaults */
    h1                              { font-weight: 100; }
    h2                              { font-weight: 200; }
    em, .btn-lrg, .btn-sml, #social { font-weight: 400; }
    .field-wrapper input            { font-weight: 500; }


  /* 2.7 - Color - 2.7 */
    p                               { color: rgba(17,17,17,.7); }
    h2, em                          { color: #f4511e; }
		h1, h4													{ color: #fff; }
		blockquote::before,
		blockquote::after								{ color: #4db6ac; } /*#78C0A8;*/
		a:link, a:visited								{ color: #039be5; } /* normal state links */
		a:hover, a:active								{ color: #29b6f6; } /* links during hover and click */
		.col-1 p												{ color: #000; }
    #ProductNavContents > a [aria-selected="true"]	{ color: #111; }
		#nav-primary ul ul li a					{ color: #333; }
  	#nav-primary i, #copyright			{ color: #666; }
    #ProductNavContents > a					{ color: #888; }
		.content__button input					{ color: #bbb !important; }
    #nav-primary ul > li > a				{ color: #f5faf9; }
    header p,
    #footer_links a:hover,
    #footer_links label, #social a	{ color: #fff; }
		.content__button input:hover		{ color: #fff !important; }
    #menu ul li:hover a,
		#next_feature a									{ color: #009688; }
		#footer_links li,
		#footer_links a									{ color: rgba(255,255,255,.46); }
    #nav-primary i:hover						{ color: rgba(255,255,255,.86); }
		input::-webkit-input-placeholder{ color: rgba(0,0,0,.4) !important; }


  /* 2.8 - Line Height and Spacing - 2.8 */
    h1, h2, h3, h4, h5, h6          { margin-bottom: 0.6em; }
    p                               { line-height: 1.5em; }


	/* 2.9 - Tables and Lists - 2.9 */

		/* 2.9.1 - Tables - 2.9.1 */
		th															{ vertical-align: bottom; }
		td															{ vertical-align: top; }
		table														{ width: 100%; }
		thead, tr												{ border-bottom: 1px solid #d0d0d0; }
		th															{ font-weight: 500 !important; }
		td															{ font-weight: 400 !important; }
		td, th													{
																			padding: 16px 5px 14px !important;
																			vertical-align: middle;
																			border-radius: 2px;
																		}
		tbody tr:hover									{
																			background: #f2f2f2;
																			transition: background .25s ease;
																		}


		/* 2.9.2 - Lists - 2.9.2 */
		ul															{ list-style: disc outside; }
		#footer_links ul								{ list-style: none; }
		.typography ul									{
																			list-style: disc outside;
																			padding-left: 40px !important;
																		}


/* 3 - IMAGES - 3 */


  /* 3.1 - Base Image Handling - 3.1 */
    img                             {
                                      max-width: 100%; /*no image should ever exceed the width of its container */
                                      height: auto;
                                      margin: 0 auto;
                                    }
    .img-top img                    { margin-bottom: 24px; } /* adds margin below images when the image is directly above text */
    .img-btm img                    { margin-top: 24px; } /* adds margin above images when the image is directly below text */
		#brands img											{ height: 72px; margin: 24px 24px 0 24px; opacity: .6; }



/* 4 - LAYOUT - 4 */


	/* 4.1 - Display - 4.1 */

		#nav-primary input,
		#nav-primary i, /*hide hamburger icon until requested by mobile media query */
		#ProductNav::-webkit-scrollbar /* Remove the default scrollbar for WebKit implementations */
																		{
																			display: none;
																		}
		h1, h2, h3, h4, h5, h6, p, img,
		#menu a,
		#menu > li:hover > ul,
		blockquote span									{ display: block; }
		#menu ul li, /* changes submenu items to inline-block as the normal top level menu uses inline-flex for vertical centering */
		#social a												{ display: inline-block; }


  /* 4.2 - Flexible Box Model Control - 4.2 */


		/* 4.2.1 - Flex Containers - 4.2.1 */
		/* Properties impacting the container which will be used to hold flexing items */


			/* 4.2.1.1 - Flex Display - 4.2.1.1 */
			/* Tells a container to display its contents using a flexible box model */
				.col-2, .col-3, .col-3 > *,
				.col-1-2, .col-2-1,
				#brands, #calltoaction,
				#calltoaction > div,
				#footer_links,
				.field-wrapper,
				.content__button						{
																			display: -webkit-box;
																			display: -ms-flexbox;
																			display: -webkit-flex;
																			display: flex;
																		}
				#nav-primary li,
				#ProductNavContents > a			{
																			display: -webkit-inline-box;
																			display: -ms-inline-flexbox;
																			display: -webkit-inline-flex;
																			display: inline-flex;
																		}


			/* 4.2.1.2 - Flex Direction - 4.2.1.2 */
			/* Direction of the flex container's main axis */
				#calltoaction > div,
				.col-3 > *									{
																			-webkit-flex-direction: column;
																			-ms-flex-direction: column;
																			flex-direction: column;
																		}


			/* 4.2.1.3 - Flex Wrap - 4.2.1.3 */
			/* Controls whether the flex container is single-line or multi-line, and the direction of the cross axis */
		    #footer_links, #brands,
				#calltoaction > div					{
																			-webkit-flex-wrap: wrap;
																			-ms-flex-wrap: wrap;
																			flex-wrap: wrap;
																		}


			/* 4.2.1.4 - Justify Content - 4.2.1.4 */
			/* Align all items along the main axis of a flexible container */
				#calltoaction > div					{
																			-webkit-justify-content: flex-start;
																			-ms-flex-pack: start;
																			justify-content: flex-start;
																		}
		    .col-2, .col-3,
				#brands, #calltoaction,
				#footer_links								{
																			-webkit-justify-content: center;
																			-ms-flex-pack: center;
																			justify-content: center;
																		}
				.col-3 > *

				.content__button						{
																			-webkit-justify-content: flex-end;
																			-ms-flex-pack: end;
																			justify-content: flex-end;
																		}


			/* 4.2.1.5 - Align Items - 4.2.1.5 */
			/* Align all items along the cross axis of a flexible container */
				#nav-primary li,
				#ProductNavContents > a			{
																			-webkit-box-align: center;
																			-webkit-align-items: center;
																			-ms-flex-align: center;
																			align-items: center;
																		}


		/* 4.2.2 - Flex Items - 4.2.2 */
		/* Properties impacting the individual items within a flexible container */


			/* 4.2.2.1 - Order - 4.2.2.1 */
			/* Controls the order in which flex items appear within their flex container. */


			/* 4.2.2.2 - Grow - 4.2.2.2 */
			/* Number which determines how much the flex item will grow relative to the rest of the flex items in the flexible container when positive free space is distributed. */


			/* 4.2.2.3 - Shrink - 4.2.2.3 */
			/* Number which determines how much the flex item will shrink relative to the rest of the flex items in the flexible container when negative free space is distributed. */
				#calltoaction > div > *			{ flex-shrink: 0; } /* prevents ios devices from being able to shrink the container if everything doesn't fit within the container */
				#calltoaction p							{ margin: 0 0 auto 0; } /* adds extra space between the paragraph and button on the smaller of the two calltoaction divs, thus keeping the bottom buttons aligned. */


			/* 4.2.2.4 - Flex Basis - 4.2.2.4 */
			/* The initial width or height (whichever is on the main axis) of the flex item, before free space is distributed according to the flex factors. */
				.col-3 > *, #contact,
				#discover, #signup					{ flex-basis: 33.33%; -ms-flex: 33.33%; }
				.col-1-2 > *:first-child,
				.col-2-1 > *:last-child			{ flex-basis: 40%; -ms-flex: 40%; }
				#calltoaction > div					{ flex-basis: 50%; -ms-flex: 50%; }
				.col-1-2 > *:last-child,
				.col-2-1 > *:first-child		{ flex-basis: 60%; -ms-flex: 60%; }
				.col-2 > *,
				.col-3 figcaption,
				#brands p										{ flex-basis: 100%; -ms-flex: 100%; }


			/* 4.2.2.5 - Align Self - 4.2.2.5 */
			/* Allows the alignment to be overridden for individual flex items */
				#calltoaction a							{
																			-webkit-align-self: flex-end;
																			-ms-flex-item-align: end;
																			align-self: flex-end;
																		}


  /* 4.3 - Margin & Padding - 4.3 */
    header													{ margin-top: 96px; } /* needs to be equal to the full height of the main nav bar */
    header													{ padding: 144px 256px 240px 256px;} /* bottom padding should be equal to top padding + margin-top */
    section													{ padding: 0 48px; } /* the sections themselves should not have any top or bottom padding as we want to give the child divs the ability to adapt to different styling requests, including full utilization of height of section */
		blockquote											{ padding: 72px 192px; }
    footer													{ padding: 96px 336px 16px 336px; }
    section > *											{ padding: 48px 48px 96px 48px; } /* left/right padding should be the same as the parent section left/right padding to provide the appearance of even spacing on the inside gaps between divs */
    .col-1 > div										{ padding: 96px 48px 48px 48px; } /*we make the bottom padding here smaller so that the content generally related to the h1 moves closer */
		.col-1 p												{ padding: 0 15%; }
		.col-2-1 figure:first-child figcaption,
		.col-1-2 figure:last-child figcaption,
    .col-2 figcaption								{ padding: 0 96px; } /*should be wider in most cases than the .col-3 p as we don't want the text to stretch too far within the narrower 2 column structure */
		.col-1-2 figure:first-child figcaption,
		.col-2-1 figure:last-child figcaption,
    .col-3 figcaption               { padding: 0 48px; }
		#nav-primary										{ padding: 0 96px; }
		#brands													{ padding: 128px 64px; }
		#brands p												{ padding: 0 128px 12px 128px; }
		#brands img											{ padding: 0; }
    #next_feature										{ padding: 48px 0; } /*this really only matters for top and bottom padding... we will never use enough width for the sides to matter */
		#next_feature a									{ padding: 0; }
    #calltoaction div								{ padding: 144px; }
		#contact, #discover, #signup		{ padding: 0; }
		#social													{ margin: 96px auto 16px auto; } /*top margin should equal the top padding of the footer itself */



	/* 4.4 - Position - 4.4 */
		.noScroll, #nav-primary					{ position: fixed; }
		blockquote,
		.pn-ProductNav_Contents,
		#nav-primary li,
		#nav-primary ul a,
		#nav-secondary									{ position: relative; }
		blockquote::before,
		blockquote::after,
		#menu > li > a:before,
		#menu ul,
		#AdvancerLeft, #AdvancerRight,
		#Indicator											{ position: absolute; }


  /* 4.5 - Float - 4.5 */
		.grooper_logo,
		.pn-ProductNav_Contents,
		#footer_links label							{ float: left; }
		#footer_links input,
		#nav-primary ul,
		#nav-primary i									{ float: right; }


  /* 4.6 - Shadows - 4.6 */
    main                            {
																			-webkit-box-shadow: 0 -2px 6px rgba(0,0,0,0.3);
																			        box-shadow: 0 -2px 6px rgba(0,0,0,0.3);
																		}
		#nav-primary										{
																			-webkit-box-shadow: 0 1px 24px rgba(0,0,0,0.6);
																			        box-shadow: 0 1px 24px rgba(0,0,0,0.6);
																		}
		#menu ul							{
																			-webkit-box-shadow: 1px 1px 24px rgba(0,0,0,0.1);
																			        box-shadow: 1px 1px 24px rgba(0,0,0,0.1);
																		}
		#nav-secondary									{
																			-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 -2px 6px rgba(0,0,0,0.3);
																			        box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 -2px 6px rgba(0,0,0,0.3);
																		}
		#social a:hover									{
																			-webkit-box-shadow: 2px 2px 24px rgba(0,0,0,0.26) !important;
																			        box-shadow: 2px 2px 24px rgba(0,0,0,0.26) !important;
																		}
    /*.shadow img                     { box-shadow: 0 2px 6px rgba(0,0,0,.15); }*/


  /* 4.7 - Borders - 4.7 */
    section, blockquote							{ border-bottom: 1px solid #b2dfdb; } /* gives each section & blockquote a light teal bottom border */
    .col-1                          { border-bottom: 0; } /* then we remove the above mentioned border for col-1 as these are intended to be headers directly related to the content below them */
    .comparison > *:last-child			{ border-left: 1px solid #b2dfdb; } /* inserts a vertical line between the two figures being compared here */
    .shadow img                     { border: 1px solid #b2dfdb; }


	/* 4.8 - Z-Index - 4.8 */
		#nav-primary										{ z-index: 10000; }
		#nav-secondary									{ z-index: 1; }


	/* 4.9 - Box Sizing - 4.9 */
		#nav-secondary, #social a				{ box-sizing: border-box; }


	/* 4.99 - Visibility - 4.99 */
		#menu > li > a:before,
		#menu ul												{ visibility: hidden; }
		#menu > li > a:hover:before,
		#menu > li:hover > ul						{ visibility: visible; }



/* 5 - NAVIGATION - 5 */


  /* 5.1 - Primary Navigation - 5.1 */
    #nav-primary {
    	top: 0; /* start navbar at absolute top */
    	left: 0; /*start navbar at absolute left */
    	width: calc(100% - (96px * 2)); /* the combination of left/right padding must be subtracted from this to retain a centered position */
    	height: 96px;
    }
    .grooper_logo {
    	background: url(../images/grooper_logo_214x64.png); /*logo image used in navbar */
    	height: 64px; /*set to actual height of logo image */
    	width: 214px; /*set to actual width of logo image */
    	margin-top: 18px; /* arbitrary value that vertically centers logo within navbar to compensate for the inherent offset built into the grooper logo */
    }
    #nav-primary i {
      padding-right: 48px;
      margin-top: 8px;
    }
    #menu li				{
      height: 96px; /* must match the height of #nav-primary */
    }
    #menu a								{
      vertical-align: middle;
    }
    #menu > li > a {
    	line-height: 36px; /* this impacts both the vertical alignment of the text and the distance between the link and the underline during hover */
    	margin: 0 16px; /*top margin should equal ( navbar height - this line height ) / 2  */
    }
    #menu > li:last-child > a {
    	margin-right: 0 !important; /*removes the unnecessary right margin from the last menu item, as the navbar itself already has sufficient padding. top amrgin should be same as margin above */
    }
    #menu > li > a:before {
    	content: "";
    	bottom: 0; /* ensures line will snap to bottom edge of item */
      left: 0; /* ensures line will start to left-most edge of item */
    	height: 1px; /* sets height of the primary nav link underlines that will appear during hover */
    	width: 100%; /*ensures line consumes full width of item */
    }
    #menu ul {
    	opacity: 0; /* sets the initial opacity of the dropdown menu to 0 so that we have the ability to animate the opacity to 1 during a hover of the parent li */
    	left: calc(-50% - 6px); /* horizontally centers dropdown menu to the parent, the 6px represents half of the left padding of the parent li */
    	top: calc(100% - 32px); /* adjusts the location of the dropdown menu upward to cover the parent link's underlining */
    }
    #menu > li:hover > ul {
    	opacity: 1;
    }
    #menu ul li {
      height: 48px; /* determines height of submenu items */
    	width: 200px; /* determines width of submenu items */
    }
    #menu ul li a {
    	padding: 16px 0; /* establishes the vertical spacing of submenu items */
      margin: 0 auto;
    }

  /* 5.2 - Secondary Navigation - 5.2 */
    #nav-secondary {
      padding: 0;
      height: 48px;
    }
    #ProductNav {
      overflow-x: auto; /* allow horizontal scroll if enough items exist */
      overflow-y: hidden; /* prevent vertical scroll */
      -webkit-overflow-scrolling: touch; /* inertia scrolling for webkit */
      white-space: nowrap; /* We don't want internal inline elements to wrap */
      width: calc(100% - 96px);
      margin: 0 auto;
    }
    /*#ProductNav {-ms-overflow-style: -ms-autohiding-scrollbar; }*/ /* Make an auto-hiding scroller for the 3 people using a IE */
    #ProductNav {-ms-overflow-style: none; } /* Make an auto-hiding scroller for the 3 people using IE */
    #ProductNav {overflow: -moz-scrollbars-none;}
    #ProductNavContents > a {
      font-size: 16px;
      min-height: 48px;
      height: 48px; /*must match min-height to allow vertical flex alignment to find true center across all browsers */
      padding: 0 12px;
    }
    #AdvancerLeft, #AdvancerRight {
      width: 48px;
      height: 48px;
      top: 0;
      bottom: 0;
      opacity: 0; /* Set the buttons invisible by default */
    }
    #AdvancerLeft:focus, #AdvancerRight:focus { outline: 0; } /*removes blue outline during focus */
    #AdvancerLeft:hover, #AdvancerRight:hover { cursor: pointer; }
    #AdvancerLeft { left: 0; } /*push left button to left side of navbar */
    #AdvancerRight { right: 0; } /*push right button to right side of navbar */
    [data-overflowing="both"] ~ #AdvancerLeft, [data-overflowing="left"] ~ #AdvancerLeft,
    [data-overflowing="both"] ~ #AdvancerRight, [data-overflowing="right"] ~ #AdvancerRight {
      opacity: 1;
    }
    .AdvancerIcon {
      width: 20px;
      height: 32px;
      margin: 0 auto;
      fill: #bbb;
    }
    #Indicator {
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100px;
    }


/* FOOTER */

	#footer_links li									{ padding: 4px 0; }
	footer form												{ margin-top: 23px; }
	.field-wrapper, .content__button	{
																			margin: 4px 0;
																			width: 100%;
																		}
	#footer_links label								{
																			height: 32px;
																			width: 40%;
																			padding-top: 8px;
																		}
	#footer_links input								{
																			height: 32px;
																			width: 100%;
																			border: none;
																			padding: 0 8px;
																		}
	#footer_links .content__button input {
																			padding: 4px 0;
																		}


/* SOCIAL NAVIGATION */

	#social														{ width: 100%; }
	#social a													{
																			height: 128px;
																			width: 128px;
																			padding-top: 44px;
																			margin: 6px;
																			border: 1px solid rgba(255,255,255,.26);
																		}
  #social a:hover .fa               { color: #fff}
  #social a:nth-child(1):hover      { background: #3b5998; } /* facebook */
  #social a:nth-child(2):hover      { background: #dd4b39; } /* google plus */
  #social a:nth-child(3):hover      { background: #55acee; } /* twitter */
  #social a:nth-child(4):hover      { background: #0976b4; } /* linkedin */
  #social a:nth-child(5):hover      { background: #cd201f; } /* youtube */
  .fa                               { color: rgba(255,255,255,.26); }
  #copyright img                    { margin: 16px auto; }




/* CONVENIENCE CLASSES */

	/* The typography class should be applied to text-heavy sections, like FAQs, and other long, informatoinal articles needing a more consistent and condensed text layout to increase legibility and reduce reader fatigue */
	.typography, .typography *				{ text-align:left !important; }
	.typography, .typography *				{ font: 300 16px/24px "Roboto",sans-serif !important; }
	.typography h2										{ font: 300 34px/40px "Roboto",sans-serif !important; }
	.typography h3										{ font: 400 22px/36px "Roboto",sans-serif !important; }
	.typography h4										{ font: 400 18px/32px "Roboto",sans-serif !important; }
	.typography, .typography *				{	color: rgba(17,17,17,.8) !important; }
	.typography h3, .typography h4		{ color: rgba(0,0,0,1) !important; }
	.typography ul, .typography li		{ color: rgba(17,17,17,1) !important; }
	.typography div *									{
																			margin: 0 !important;
																			padding: 0 !important;
																		}
	.typography h2										{ margin: 0 0 20px !important; }
	.typography h3, .typography h4		{ margin: 32px 0 16px !important; }
	.typography p											{ margin: 16px 0 !important; }
	.typography li										{ margin: 8px 0 !important; }



  /* The align-bottom class allows large primary images to align to the bottom of their section so that they appear to be emerging from behind the following */
	.align-bottom > *									{
																			padding-bottom: 0 !important;
																			border-bottom: 1px solid #b2dfdb;
																		}
	.align-bottom img									{ margin: 48px auto 0 auto; }


  /* The bg-dark and bg-light classes control the child elements of the colored container, the specific color is added via the adition of a specific color class */
	/* The teal and orange classes can then be added to apply background color to main sections and alter the color of the text therein appropriately */
	.bg-dark *,	.bg-light *								{ background: transparent !important; }
	.bg-dark *														{ color: rgba(238,238,238,.75); }
	.bg-dark h2, .bg-dark h3,
	.bg-dark span													{ color: #fff !important; }
	.bg-light *														{ color: rgba(17,17,17,.75); }
	.bg-light h2, .bg-light h3
	.bg-light span												{ color: #000 !important; }


	/* blockquotes should be added directly to the main section of the page */
	/* to produce the color styling of the blockquote, use the bg-color class on the blockquote itself */
		blockquote														{ border-left: 8px solid #4db6ac; }
		blockquote p													{
																						font-weight: 400;
																						color: rgba(17,17,17.8)
																					}
		blockquote span												{
																						margin-top: 36px;
																						font-weight: 500;
																						color: rgba(0,0,0.75)
																					}
		blockquote::before										{
																						content: "\201C";
																						left: 96px;
																						top: -12px;
																					}
		blockquote::after											{
																						content: "\201D";
																						right: 96px;
																						bottom: -84px;
																					}
	blockquote.bg-dark::before,
	blockquote.bg-dark::after								{ color: rgba(0,0,0,.2)}
	blockquote.bg-light::before,
	blockquote.bg-light::after							{ color: rgba(255,255,255,.2)}
	blockquote.gray													{ border-left: 8px solid #616161;}
	blockquote.orange												{ border-left: 8px solid #e64a19;}
	blockquote.teal													{ border-left: 8px solid #00897b;}




	/* The btn-sml and btn-lrg classes are used on <a> elements to turn them into styled buttons in one of two sizes. */
	/* It is assumed that these will always be on a line by themselves and should be horizontally centered within the parent container */
  .btn-sml, .btn-lrg										{
																					/*display: inline-block;*/
																					/*vertical-align: middle;*/
																					text-transform: uppercase;
																					background: rgba(255,255,255,.066);
																					border: 1px solid rgba(255,255,255,0.6);
																					border-radius: 3px;
																					color: #ffffff;
																				}
  .btn-sml															{
																					margin: 16px auto 0 auto; /* left/right margins are keeping the buttons horizontally centered within the div without stretching to fill the space */
																					padding: 6px 12px;
																				}
	.btn-lrg															{
																					margin: 32px auto 0 auto; /* left/right margins are keeping the buttons horizontally centered within the div without stretching to fill the space */
																					padding: 16px 32px;
																				}
	.btn-sml:hover, .btn-lrg:hover				{
																					-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2) !important;
																					        box-shadow: 2px 2px 4px rgba(0,0,0,0.2) !important;
																					background: rgba(255,255,255,0.97) !important;
																					color: rgba(0,0,0,0.8) !important;
																				}

	.desaturate														{
																					display:        flex;
																					flex-wrap:      wrap;
																					height:         48px;
																					-webkit-filter: grayscale(1);
																					-webkit-filter: grayscale(100%);
																					        filter: gray;
																					        filter: grayscale(100%);
																				}

/* TRANSFORMS AND TRANSITIONS */

  .noScroll																{
																						overflow: hidden;
																						width: 100%;
																					}
	#Indicator															{
																						-webkit-transform-origin: 0 0;
																						    -ms-transform-origin: 0 0;
																						        transform-origin: 0 0;
																					}
	#menu > li > a:before										{ /* sets the initial scale of the nav link hover to 0 so it can later animate to full scale */
																						-webkit-transform: scaleX(0);
																						    -ms-transform: scaleX(0);
																						        transform: scaleX(0);
																					}
	#menu > li > a:hover:before							{ /* transforms primary nav underlines from the inside to the outside */
																						-webkit-transform: scaleX(1);
																						    -ms-transform: scaleX(1);
																						        transform: scaleX(1);
																					}
	#social a:hover													{
																						-webkit-transform: scale(1.1);
																						    -ms-transform: scale(1.1);
																						        transform: scale(1.1);
																					}
	#menu > li > a:before,
	#menu ul,
	#menu ul li,
	#menu ul li a,
	#AdvancerLeft, #AdvancerRight,
  .btn-lrg, .btn-sml, #social a, .fa			{
																						-webkit-transition: all 0.2s linear 0s !important;
																						     -o-transition: all 0.2s linear 0s !important;
																						        transition: all 0.2s linear 0s !important;
																					}
	.pn-ProductNav_Contents									{
																						-webkit-transition: -webkit-transform .2s ease-in-out;
																						        transition: -webkit-transform .2s ease-in-out;
																						     -o-transition: transform .2s ease-in-out;
																						        transition: transform .2s ease-in-out;
																						        transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
																					}
	#menu > li > ul,
	#nav-social															{
																						-webkit-transition: all 0.3s linear !important;
																						     -o-transition: all 0.3s linear !important;
																						        transition: all 0.3s linear !important;
																					}
	.no-transition													{
																						-webkit-transition: none;
																						     -o-transition: none;
																						        transition: none;
																					}

/*signup form*/
.form {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px !important;
}

#form_signup{ padding: 0 512px;}
/*input form*/
 .form_text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#top_map{
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/map.jpg") center; /* Standard syntax (must be last) */
  overflow: hidden;
  padding: 288px 128px 0px 128px !important;
  height: calc(100vh - 288px);
  min-height: 586px !important;
}

#top_map > div {
  background: transparent;
  text-align: center;
}
#top_map h4                { text-align: center; }
/*<<<<<<< HEAD*/
#top_map li                { padding: 4px 0; color: rgba(255,255,255,.46); }
=======
#top_map ul                { list-style: none; }
#top_map li                { font-size: 16px; padding: 16px 0 ; color: rgba(255,255,255,.46);}
/*>>>>>>> ae398e37dcfee320abcc929ae7538cee59f0c6b1*/
#top_map a                 { color: rgba(255,255,255,.46); }
#top_map a:hover           { color: #fff;}
#iframe{
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */

  @media only screen and (max-width: 1680px) {
    h1													{ font-size: 68px; }
    header p, #brands p					{ font-size: 28px; }
    header											{ padding: 96px 144px 192px 144px }
    section											{ padding: 0 36px; }
    section > figure,
    section > div								{ padding: 36px 36px 72px 36px; }
		footer											{ padding: 72px 336px 16px 336px; }
    .col-1 > div								{ padding: 72px 36px 36px 36px; }
		.col-2-1 figure:first-child figcaption,
		.col-1-2 figure:last-child figcaption,
    .col-2 figcaption						{ padding: 0 72px; }
		.col-1-2 figure:first-child figcaption,
		.col-2-1 figure:last-child figcaption,
    .col-3 figcaption						{ padding: 0 36px; }
    #calltoaction div						{ padding: 96px; }

  }


  @media only screen and (max-width: 1440px) {
    h1                          { font-size: 62px; }
    h2                          { font-size: 48px; }
    h3                          { font-size: 26px; }
    h4                          { font-size: 18px; }
    p                           { font-size: 17px; }
    header p, #brands p					{ font-size: 26px; }
		blockquote p								{ font-size: 22px; }
    .col-1 p                    { font-size: 20px; }
    .btn-lrg						        {	font-size: 18px; }
    .field-wrapper input        { font-size: 12px; }
		.content__button input			{ font-size: 14px; }
    #calltoaction h3		        { font-size: 40px; }
    #calltoaction p			        { font-size: 18px; }
    #footer_links li            { font-size: 16px; }
		#footer_links input					{ font-size: 14px; }
    #copyright                  { font-size: 12px; }
    #social a                   { font-size: 24px; }
    header                      { padding: 96px 128px 192px 128px; }
    footer                      { padding: 64px 144px 16px 144px; }
    #nav-secondary              { padding: 0; }
    #form_signup                { padding: 0 336px;}
  	#social a                   { padding-top: 32px; }
    #AdvancerLeft               { left: 0; }
    #AdvancerRight              { right: 0; }
  	#footer_links input         { height: 28px; }
  	#social a                   { height: 96px; width: 96px; }
  	#copyright img              { height: 38px; }
  }


  @media only screen and (max-width: 1280px) {
    h1                          { font-size: 52px; }
    h2                          { font-size: 42px; }
    h3                          { font-size: 24px; }
    p                           { font-size: 16px; }
		blockquote p								{ font-size: 20px; }
    header p, #brands p					{ font-size: 24px; }
    .col-1 p                    { font-size: 19px; }
    #next_feature a             { font-size: 20px; }
    #nav-primary                { padding: 0 48px; }
    header                      { padding: 88px 96px 152px 96px; margin-top: 64px; } /* margin-top and padding here must be adjusted now that the height of the navbar is only 64px */
    section                     { padding: 0 24px; }
		blockquote									{ padding: 72px 144px; }
    section > *									{ padding: 32px 24px 64px 24px; }
    .col-1 > div                { padding: 64px 24px 32px 24px; }
		.col-2-1 figure:first-child figcaption,
		.col-1-2 figure:last-child figcaption,
    .col-2 figcaption						{ padding: 0 48px; }
		.col-1-2 figure:first-child figcaption,
		.col-2-1 figure:last-child figcaption,
    .col-3 figcaption           { padding: 0 16px; }
		#next_feature               { padding: 36px 0; } /*this really only matters for top and bottom padding... we will never use enough width for the sides to matter */
    #calltoaction div           { padding: 72px; }
    #form_signup                { padding: 0 192px;}
    #social                     { margin: 72px auto 16px auto; }
    #menu > li > a							{ margin: 0 12px; } /* lessen the horizontal space between main menu items */
    #nav-primary li             { height: 64px; } /* shrink to match the new height of the navbar */
    #nav-primary                { width: calc(100% - 96px); height: 64px; } /* Shrink the height of the navbar for the first time */
    .grooper_logo               { background: url(../images/grooper_logo_140x42.png); height: 42px; width: 140px; margin-top: 14px; }
    #menu ul										{ top: calc(100% - 16px); }
		blockquote::before					{ left: 56px; }
		blockquote::after						{ right: 54px; }

  }


  @media only screen and (max-width: 1024px) {
		h1													{ font-size: 42px; }
		h2													{ font-size: 40px; }
		h3													{ font-size: 24px; }
		h4													{ font-size: 20px; }
		p														{ font-size: 15px; }
		figcaption									{	font-size: 16px; }
		header p										{ font-size: 21px; }
		blockquote::before,
		blockquote::after						{ font-size: 192px; }
		.col-1 p										{ font-size: 18px; }
		.btn-lrg										{ font-size: 16px; }
		#brands p										{ font-size: 22px; }
		#ProductNavContents > a			{ font-size: 14px; }
		#calltoaction h3						{ font-size: 32px; }
		#calltoaction p							{	font-size: 16px; }
		#footer_links li						{ font-size: 16px; }
		#social a										{ font-size: 24px; }
		header											{ padding: 64px 64px 112px 64px; }
		figcaption									{ padding: 0 32px; }
		blockquote									{ padding: 72px 96px; }
		footer											{ padding: 48px 32px 8px 32px; }
		.col-1 p										{ padding: 0 10%; }
		.col-2											{ padding: 0 32px; }
		.col-2 figcaption						{ padding: 0; }
		.col-3											{ padding: 0 24px; }
		.col-3 > *									{ padding: 32px 24px; }
		.col-3 > *:last-child				{ padding: 0 24px 64px 24px; } /* adds the additional bottom padding only to the third (wrapped) figure, as needed to produce a clean finish to the section */
		.btn-lrg										{ padding: 8px 32px; }
		#brands p										{ padding: 0 96px; }
		#menu ul a									{ padding: 8px 0; }
		#calltoaction div						{ padding: 64px; }
    #form_signup                { padding: 0 96px;}
		#nav-secondary							{ padding: 0; }
		#nav-primary								{ padding: 0 48px; }
		#menu > li > a							{ margin: 0 8px; }
		#copyright img							{ margin: 8px auto; }
		.btn-sml										{ margin-top: 8px; }
		#social											{ margin: 64px auto 8px auto; }
		.col-3											{
																	-webkit-flex-wrap: wrap;
																	    -ms-flex-wrap: wrap;
																	        flex-wrap: wrap;
																}
		.col-3 > *									{ /* must equal 50% minus the total amount of padding on the current row's divs and it's container */
																	flex-basis: calc(50% - 48px);
																	  -ms-flex: calc(50% - 48px);
																}
		#nav-secondary							{ height: 36px; }
		#ProductNavContents > a,
		#AdvancerLeft,
		#AdvancerRight							{ height: 36px; }
		.AdvancerIcon								{ height: 28px; }
		#Indicator									{ height: 2px; }
		#nav-primary								{ width: calc(100% - 96px); }
		#ProductNav									{ width: calc(100% - 72px); } /*set to 100% - ( 2 x width of advancer ) */
		#AdvancerLeft,
		#AdvancerRight							{ width: 36px; }
		#ProductNavContents > a			{ min-height: 36px; }
		#social a										{
																	height: 96px;
																	width: 96px;
																	padding-top: 32px;
																}
		#AdvancerLeft								{ left: 0; }
		#AdvancerRight							{ right: 0; }
		blockquote::before					{ left: 32px; top: 6px; }
		blockquote::after						{ right: 30px; bottom: -30px; }
  }


  @media (max-width: 768px){
    h1													{ font-size: 36px; }
    h2													{ font-size: 34px; }
    h3													{ font-size: 26px; }
  	p														{ font-size: 16px; }
    header p										{ font-size: 18px; }
		blockquote p								{ font-size: 18px; }
    .col-1 p										{ font-size: 18px; }
		#brands p										{ font-size: 20px; }
    #calltoaction h3						{ font-size: 36px; }
    #calltoaction p							{ font-size: 18px; }
    footer,
		footer h4, footer ul				{ text-align: center; }
    section											{ padding: 0 64px !important; } /*this is now important because at 768 we change to a column based flex layout and thus introduced top/bottom padding to .col-1, .col-2, and .col-3 directly */
    section > *									{ padding: 32px 96px; }
  	.col-1 > div								{ padding: 64px 0 48px 0; }
		.col-1-2, .col-2-1					{ padding: 0 16px !important; }
		.col-1-2 > *, .col-1-2 > *	{ padding: 32px 16px 64px 16px !important; }
    .col-3 > *:last-child				{ padding: 32px 32px 64px 32px; }
		#brands											{ padding: 64px 0 !important; }
		#brands p										{ padding: 0 64px; }
		#brands div									{ padding: 24px 24px 0 24px; }
		#next_feature								{ padding: 32px 0 !important; }
    #calltoaction div						{ padding: 64px 128px; }
    #footer_links > div					{ padding: 32px 0; }
		#top_map										{ padding: 144px 128px 0 128px !important; } /*top should match with the deduction from height*/
  	#signup											{ margin: 32px 32px 0 32px; }
  	#contact, #discover					{ flex-basis: 50% !important; -ms-flex: 50% !important; }
  	#signup											{ flex-basis: 100% !important; -ms-flex: 100% !important; }
  	.col-2, .col-3,
		#calltoaction								{ display: block !important; } /*this prevents divs from overlaying on ie11 and android mobile default browser */
    .grooper_logo								{
																	background: url(../images/g_color_32.png);
																	height: 32px;
																	width: 33px;
																	margin-top: 16px;
																}
		.comparison > *:last-child	{ border-left: 0; } /* we no longer need the left border to separate each compared item as they are vertically stacked */
    #top_map                    { height: calc(100vh - 144px); }
  }


@media (max-width: 600px){
  #footer_links h4							{ font-size: 28px; }
  #footer_links li							{ font-size: 18px; }
  #menu > li > a								{ font-size: 18px; }
  #footer_links h4,
  #footer_links ul							{ text-align: center; }
  #mobile-menu,
	#nav-primary ul,
	#nav-primary li,
	#nav-primary input,
	#nav-social										{ display: block !important; }
	#nav-primary input:checked ~ i ~ i,
	#nav-social a, #nav-social i,
	#bars													{ display: inline-block !important; }
	#nav-primary input:checked ~ i,
  #menu ul,
  #nav-primary ul li:hover ul		{ display: none !important; } /*the 3 bars goes away*/
	#menu > li > ul,
	#mobile-menu									{ position: relative !important; }
	#nav-primary input						{ position: absolute; }
	#menu, #nav-social						{ position: fixed; }
	header												{ margin-top: 48px; }
	.grooper_logo									{ margin-top: 8px; }
  #signup												{ margin: 0; }
  #social												{ margin: 8px 0 16px 0; }
  #menu, #nav-social						{ margin-left: 100%; }
  #nav-primary > a							{ margin-left: 48px; }
  #nav-primary input:checked ~ ul{ margin-left: 0; } /* this removes the transform element resulting in the perceived slid in menu*/
  header												{ padding: 64px 48px 112px 48px; }
	section,
	#nav-primary,
	#menu ul a,
	#nav-social i									{ padding: 0 !important; }
	.col-1 p											{ padding: 0 24px; }
  .col-1 > div									{ padding: 64px 0 48px 0; }
	.col-2 > *, .col-3 > *				{ padding: 24px; }
  .col-2 > *:last-child,
	.col-3 > *:last-child					{ padding: 24px 24px 48px 24px; }
	.col-1-2 > *:first-child,
	.col-2-1 > *:last-child				{ padding: 32px 96px 36px 96px !important; }
	.col-2-1 > *:first-child,
	.col-1-2 > *:last-child				{ padding: 16px 24px 36px 24px !important; }
	#brands												{ padding: 48px 0 !important; }
	#brands p											{ padding: 0 32px; }
  #menu													{ padding: 96px 0; }


  section > *										{ padding: 32px 48px; }
  #calltoaction div							{ padding: 64px 48px; }
  #top_map											{ padding: 48px 0 0 0 !important;}
  #top_map li										{ padding: 6px 0 ;}
	#social a											{ padding-top: 0; }
	#bars													{ padding-right: 48px; }
	#nav-social										{ padding-bottom: 16px; }
  #nav-primary									{ height: 48px; }
	#social a											{ height: 32px; width: 32px; border: none; }
	#brands img										{ height: 48px; }
  #nav-primary									{ width: 100%; }
	.col-1-2, .col-2-1						{ flex-direction: column; }
  #contact, #discover						{ flex-basis: 100% !important; -ms-flex: 100% !important; } /*forces the newsletter signup form below the two lists, which will now be side-by-side */
  #social a:nth-child(1) i			{ color: #3b5998; } /* facebook */
  #social a:nth-child(2) i			{ color: #dd4b39; } /* google plus */
  #social a:nth-child(3) i			{ color: #55acee; } /* twitter */
  #social a:nth-child(4) i			{ color: #0976b4; } /* linkedin */
  #social a:nth-child(5) i			{ color: #cd201f; } /* youtube */
  #social a, #social a:hover		{
																	background: transparent !important;
																	-webkit-box-shadow: none !important;
																	        box-shadow: none !important;
																	-webkit-transform: none !important;
																	    -ms-transform: none !important;
																	        transform: none !important;
																}
	#mobile-menu									{
																	top: 50px;
																	left: 50px;
																	z-index: 1;
																	-webkit-user-select: none;
																	user-select: none;
																}
  #nav-primary input          	{
	                                width: 40px;
	                                height: 32px;
	                                top: 6px;
	                                right: 38px;
	                                cursor: pointer;
	                                opacity: 0;
	                                z-index: 20000;
	                                -webkit-touch-callout: none;
	                              }
  #menu													{
	                                top: 48px;
	                                width: 100%;
	                                height: calc(100vh - 48px); /*100% of the browser screen*/
	                                opacity: 0.93;
	                                background: #000000;
	                                -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
	                              }
  #nav-primary ul								{ float: none; } /*we are no longer floating the entire nav menu to the right as these will be centered horizontally on mobile devices */
  #menu > li > ul								{
																	visibility: visible;
																	opacity: 1;
																	top: 0;
																	left: 0;
																	z-index: 1000;
																}
  #menu ul li										{
																	background: transparent;
																	height: 24px;
																	width: auto;
																}
  #menu ul a										{ color: #fff; }
  #nav-social										{
																	width: 100%;
																	background: rgba(1, 1, 1, 0);
																	visibility: visible;
																	bottom: 0;
																	left: 0;
																}
	.grooper_logo												{
																				-webkit-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0) !important;
																				     -o-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0) !important;
																				        transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0) !important;
																			}
  #nav-social i                       { width: 32px; }
  #nav-social a:nth-child(1) i        { color: #3b5998; } /* facebook */
  #nav-social a:nth-child(2) i        { color: #dd4b39; } /* google plus */
  #nav-social a:nth-child(3) i        { color: #55acee; padding-left: 12px !important;} /* twitter */
  #nav-social a:nth-child(4) i        { color: #0976b4; } /* linkedin */
  #nav-social a:nth-child(5) i        { color: #cd201f; } /* youtube */
}


@media (max-width: 432px){
	#next_feature a											{ font-size: 18px; }
  section > *													{ padding: 32px 0; }
	.col-1-2 > *:first-child,
	.col-2-1 > *:last-child							{ padding: 32px 48px 36px 48px !important; }
	.col-2-1 > *:first-child,
	.col-1-2 > *:last-child							{ padding: 16px 12px 36px 12px !important; }
	#calltoaction div										{ padding: 32px; }
}
