.sr-handle:before, .sr-handle:after {
  content: " ";
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.3);
     -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.3);
}

.sr-handle:before, .sr-handle:after,
.sr-container img     { display: block; }

.sr-handle:before, .sr-handle:after,
.sr-before-label, .sr-after-label, .sr-overlay,
.sr-before-label:before, .sr-after-label:before,
.sr-left-arrow, .sr-right-arrow,
.sr-container img,
.sr-handle            { position: absolute }

.sr-handle    { z-index: 40; }
.sr-handle:before,
.sr-handle:after
                        { z-index: 30; }
.sr-overlay   { z-index: 25; }
.sr-before    { z-index: 20; }
.sr-after     { z-index: 10; }
.sr-container { z-index: 0; }

.sr-handle:before, .sr-handle:after {
  width: 2px;
  height: 9999px;
  left: 50%;
  margin-left: -1px;
}

.sr-before-label, .sr-after-label, .sr-overlay {
  top: 0;
  width: 100%;
  height: 100%;
}

.sr-handle:before,
.sr-handle:after                 { background: white; }
.sr-handle:before,
.sr-handle:after                 { background: #9575cd; }
.sr-handle                                                { background: #512da8ee !important; }
.sr-before-label:before, .sr-after-label:before { background: rgba(255, 255, 255, 0.2); }
.sr-container.active .sr-overlay,
.sr-container.active :hover.sr-overlay,
.sr-overlay                                               { background: rgba(0, 0, 0, 0); }
.sr-overlay:hover                                         { background: rgba(0, 0, 0, 0.5); }
.sr-handle                                                { background: rgba(0,0,0,.73) !important; }
.sr-before-label, .sr-after-label,
.sr-overlay                                               {
                                                                      -webkit-transition-duration: 0.5s;
                                                                         -moz-transition-duration: 0.5s;
                                                                              transition-duration: 0.5s;
                                                                    }

.sr-before-label, .sr-after-label               {
                                                                      -webkit-transition-property: opacity;
                                                                         -moz-transition-property: opacity;
                                                                              transition-property: opacity;
                                                                    }
.sr-overlay                                               {
                                                                      -webkit-transition-property: background;
                                                                         -moz-transition-property: background;
                                                                              transition-property: background;
                                                                    }

.sr-container.active .sr-overlay .sr-before-label,
.sr-container.active .sr-overlay .sr-after-label,
.sr-container.active :hover.sr-overlay .sr-before-label,
.sr-container.active :hover.sr-overlay .sr-after-label,
.sr-before-label, .sr-after-label               { opacity: 0; }
.sr-overlay:hover .sr-after-label,
.sr-overlay:hover .sr-before-label              { opacity: 1; }
.sr-container, .sr-container *                  {
                                                                      -webkit-box-sizing: content-box;
                                                                         -moz-box-sizing: content-box;
                                                                              box-sizing: content-box;
                                                                    }
.sr-before-label:before, .sr-after-label:before { content: attr(data-content); }


.sr-before-label:before, .sr-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.sr-before-label:before, .sr-after-label:before {
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.sr-before-label:before, .sr-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.sr-left-arrow, .sr-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  top: 50%;
  margin-top: -6px;
}

.sr-container {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
}
.sr-container img {
  max-width: 100%;
  top: 0;
}
.sr-before-label:before { left: 10px; }
.sr-after-label:before  { right: 10px; }
.sr-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  /*border: 1px solid #000;*/
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
     -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  cursor: pointer;
}

.sr-handle:before {
  bottom: 50%;
  margin-bottom: 24px;
}

.sr-handle:after {
  top: 50%;
  margin-top: 24px;
}
.sr-handle i {
  color: rgba(255,255,255,.73) !important;
  font-size: 36px !important;
}
